body {
    background-repeat: no-repeat;
    background-image:url(Background.jpg);
    background-size: 100% 100%;
    display: grid;
    grid-template-rows: 20% 50% 30%;
    grid-template-columns: 33% 33% 17% 17%;
  }
  /* What kind of selector is this? */
  .logo {
    grid-row-start: 1;
    grid-row-end: 1;
    width: 75pt;
    height: 75pt;
    margin: 3% 10%;
    background-color: rgb(213, 204, 216);
  }

  header {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  /* This is an element within an element selector */ 
 .a {
    color: rgb(1, 142, 207);
    font-family: Trebuchet MS;
    font-style: Bold;
    border-radius: 15px;
    background: rgb(69, 63, 71);
    padding: 8%;
    border: 2px solid rgb(153, 148, 148);
    font-size: 1em;
  }
.nav1 {
  margin-left: auto;
  grid-row-start: 1;
  grid-column-start: 3;
}
.nav2 {
  margin-left: auto;
  grid-row-start: 1;
  grid-column-start: 4;
}
  
  /* This is an ID selector */
  #profile-pic {
    width: 220pt;
    height: 280pt;
    border-radius: 100pt;
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 15%;
  }
  

  h1 {
    font-size: 25px;
    font-family: 'Trebuchet MS';
    color:  rgb(8, 163, 235);
    border-bottom: 1px solid #1940A9;
    margin-left: 15%;
  }

  h2 {
    font-size: 15px;
    color: rgb(1, 142, 207);
    font-style: italic;
    margin-left: 15%;
  }

 #portfolio {
    margin-left: 15%;
    font-family: Trebuchet;
    font-size:20px;
    border-radius: 25px;
    background: transparent;
    padding: 10px;
    text-align: center;
    color: rgb(1, 142, 207);
    letter-spacing: 10px;
    font-style: Bold, Italic;
    border: 3px solid rgb(1, 142, 207)
  }
main {
  margin-top: auto;
  padding: 10%;
  grid-row-start:3;
  grid-column-start: 2;
  text-align: center;
  padding-top: 16%;
}